PORT=3000
TRACKING_BASE_URL=https://www.virtual-office365.com/app/locrutas/v2/api/api.php
TRACKING_COMPANY=VAZQUEZOLMEDO
TRACKING_POLL_INTERVAL_MS=5000
COD_ENRUTA=4
COD_SERV_RUTA=200020
SCAN_START=540000
SCAN_END=560000
